.pivotTable {
  font-size: 11px;
  border: 1px solid grey;
}
.valueCell {
  text-align: right;
  font-family: 'Courier New', Courier, monospace;
}

th {
  background-color: lightgrey;
}

.pivotTableFooterRow {
  background-color: lightgrey;
  font-weight: bold;
}

.table-striped tr:nth-child(even) {background: #f2f2f2}
.table-striped tr:nth-child(odd) {background: white}
