<div>
  <input [(ngModel)]="datemin" size="10" placeholder="Minimum date..." (change)="refreshData()"/>
  <button *ngFor="let period of periods; let no=index" (click)="setChartData(no+1, period)">{{period}}</button>
  <highcharts-chart
    id="chart"
    [Highcharts]="Highcharts"
    style="width: 100%; height: 400px; display: block;">
  </highcharts-chart>
  <table>
    <tr *ngFor="let a of avg; let i=index">
        <td>{{a.symbol}}</td>
        <td style="text-align: right;">{{a.val}}%</td>
        <!-- <td style="text-align: right;">={{lr[i].a}} * x + {{lr[i].b}}</td> -->
    </tr>
  </table>

  <select [(ngModel)]="symbol" (change)="setChart2(symbol)">
      <option *ngFor="let a of avg" value="{{a.symbol}}">{{a.symbol}}</option>
  </select>

  <highcharts-chart
  id="chart2"
  [Highcharts]="Highcharts2"
  style="width: 100%; height: 400px; display: block;">
</highcharts-chart>

</div>
