<p>
  New operation
</p>
<div>
  <!-- <input type="radio"
    id="radioTypeP"
    name="type"
    value="P"
    [(ngModel)]="type" />

  <label class="form-check-label" for="radioTypeP">
    Purchase
  </label>
  &nbsp;
  <input type="radio"
    id="radioTypeR"
    name="type"
    value="R"
    [(ngModel)]="type" />
  <label class="form-check-label" for="radioTypeR">
    Redeem
  </label> -->

  <br>
  <textarea rows="10" cols="100"
     (change)="doTextareaValueChange($event)" style="font-family: 'Courier New', Courier, monospace;">{{data}}</textarea>
  <br>

  <button class="btn btn-success" (click)="saveData()">Save</button>
  <br>
  <pre>{{result | json}}</pre>
</div>
