<!-- <pre>{{tfimeta | json}}</pre> -->
<div style="padding: 2px">
    <div>
          <button class="btn btn-primary btn-sm" *ngIf="!wssIsActive" (click)="connectWss()">Connect</button>
          <button class="btn btn-warning btn-sm" *ngIf="wssIsActive" (click)="disconnectWss()">Disconnect</button>

          &nbsp;
          <input [(ngModel)]="filterName" placeholder="Filter by TFI name or symbol" size="30" (change)="refresh()">

          &nbsp;
          <label>My Funds
              <input type="checkbox" [(ngModel)]="filterMyTFI" (change)="refresh()"/>
          </label>

          &nbsp;
          <label>Initialized
              <input type="checkbox" [(ngModel)]="filterInitialized" (change)="refresh()"/>
          </label>

          &nbsp;
          <label>Look
              <input type="checkbox" [(ngModel)]="filterLook" (change)="refresh()"/>
          </label>

          &nbsp;
          <button class="btn btn-sm btn-primary" (click)="loadValueTFI('')">Update selected</button>
          &nbsp;<button class="btn btn-sm btn-success" (click)="calcLR('')">CalcLR selected</button>
      </div>

      <div style="margin-left: 30px; font-size: 10px;">
          Liczba funduszy: {{TFIs_filtered.length}} / {{getSelectedTFIs().length}}
          <table class="table table-xs">
              <thead>
                  <th>No</th>
                  <th><input type="checkbox" (change)="checkFilteredTFIChange()" [checked]="checkFilteredTFI" /></th>
                  <th>DS</th>
                  <th>Symbol</th>
                  <th>Type</th>
                  <th>FIO</th>
                  <th>Name</th>
                  <th>From</th>
                  <th>To</th>
                  <th>Value LR params</th>
                  <th>Value LR%</th>
                  <th>Diff</th>
                  <th>Diff LR%</th>
                  <th>?</th>
                  <th>Status</th>
                  <!-- <th>frameDateFrom</th><th>frameDateTo</th><th>dir</th> -->
                  <th>Info</th>
                  <th>Actions</th>
                  <th>Updated</th>
              </thead>
              <tbody>
                  <tr *ngFor="let TFI of TFIs_filtered; let i=index">
                      <td>{{i+1}}.</td>
                      <td>
                        <input type="checkbox" [value]="TFI.symbol" (change)="selectedTFIChange(TFI.symbol)" [checked]="selectedTFI[TFI.symbol]" />
                      </td>
                      <td>{{TFI.metadata.source!==undefined?TFI.metadata.source:TFI.source}}</td>
                      <td><a target="_blank" href="/tfi/{{TFI.symbol}}">{{TFI.symbol}}</a></td>
                      <td>{{TFI.type}}</td>
                      <td>{{TFI.firm}}</td>
                      <td>
                        <span *ngIf="TFI.metadata.source==='ANALIZY'"><a target="_blank" href="https://www.analizy.pl{{TFI.href}}">{{TFI.name}}</a></span>
                        <span *ngIf="TFI.metadata.source!=='ANALIZY'">{{TFI.name}}</span>
                        <br>{{TFI.info}}
                      </td>
                      <td>{{TFI.metadata.initDate | date}}</td>
                      <td>{{TFI.metadata.lastDate | date}}</td>
                      <td>
                          LR a={{TFI.metadata.lra}}, b={{TFI.metadata.lrb | number : '1.2-2'}}
                          <!-- <br/>LastDiff={{TFI.metadata.lastDiff}} lastDiffPercent={{TFI.metadata.lastDiffPercent}}% -->
                          <br/>diffLR a={{TFI.metadata.diff_lra}}, b={{TFI.metadata.diff_lrb | number : '1.2-2'}}
                          <br/>{{TFI.metadata.CONST_LAST_PERIOD}}
                      </td>
                      <td nowrap>
                          {{utils.getLRAPercent(TFI.metadata.lra)}}%
                      </td>
                      <td>
                          {{TFI.metadata.lastDiff}} [{{TFI.metadata.lastDiffPercent}}%]
                      </td>
                      <td>{{utils.getLRAPercent(TFI.metadata.diff_lra)}}%</td>
                      <td>{{TFI.metadata.look}}</td>
                      <td><img src="{{getImgStatus(TFI.metadata.status)}}" width="32" height="32"></td>
                      <!-- <td>{{TFI.metadata.frameDateFrom | date}}</td>
                      <td>{{TFI.metadata.frameDateTo | date}}</td>
                      <td>{{TFI.metadata.direction}}</td> -->
                      <td>{{TFI.metadata.errorMsg}}</td>
                      <td nowrap>
                        <button *ngIf="true || TFI.metadata.status === 'OK'" class="btn btn-sm btn-primary" (click)="loadValueTFI(TFI.symbol)">Update</button>
                        &nbsp;<button *ngIf="true || TFI.metadata.status === 'OK'" class="btn btn-sm btn-success" (click)="calcLR(TFI.symbol)">CalcLR</button>
                      </td>
                      <td>{{TFI.metadata.updated_at}}</td>
                  </tr>
              </tbody>
          </table>
      </div>
</div>
