<br/><input [(ngModel)]="filterSymbols" placeholder="Symbol(s)..." size="100">

<!-- <ol>
  <li *ngFor="let tfimeta of tfimetadata">{{tfimeta.symbol}} {{tfimeta.name}}</li>
</ol> -->

<!-- <br/><b *ngIf="tfimeta2">{{tfimeta2[0].symbol}} {{tfimeta2[0].name}}</b> -->
<input [(ngModel)]="filterDate" placeholder="Filter from Date" size="10">
&nbsp;
<select [(ngModel)]="period">
    <option value="Y">year</option>
    <option value="Q">quarter</option>
    <option value="M">month</option>
    <option value="D">day</option>
</select>
&nbsp;

<button class="btn btn-sm btn-info" (click)="refresh()">Refresh</button>

&nbsp;
<select [(ngModel)]="chartType">
    <option value="column">column</option>
    <option value="line">line</option>
</select>

&nbsp;
<label>Add LR
    <input type="checkbox" [(ngModel)]="whetherAddLR"/>
</label>

<span *ngIf="method==='VALUE'">
    &nbsp;
    <input [(ngModel)]="mAShortTerm" placeholder="MA-short" size="3">
    <input [(ngModel)]="mALongTerm" placeholder="MA-long" size="3">
</span>

<highcharts-chart
    id="chart"
    [Highcharts]="Highcharts"
    style="width: 100%; height: 500px; display: block;">
</highcharts-chart>
<br/>

<div>
  <table border=1>
     <thead>
       <tr>
         <th>Symbol</th>
         <th>Name</th>
         <th>Min(w203)</th>
         <th>Max(w203)</th>
         <th>Min</th>
         <th>Max</th>
         <th>ROI</th>
         <th>AvgY</th>
         <th>Info</th>
       </tr>
     </thead>
     <tbody>
       <tr *ngFor="let fund of tficompared">
           <td>{{fund.symbol}}</td>
           <td>{{fund.name}}</td>
           <td>{{fund.statData.minMaxWithout202003[0]}}</td>
           <td>{{fund.statData.minMaxWithout202003[1]}}</td>
           <td>{{fund.statData.minMax[0]}}</td>
           <td>{{fund.statData.minMax[1]}}</td>
           <td>{{fund.statData.dataROI.value}}</td>
           <td>{{fund.statData.dataYearAvgYield}}</td>
           <td><small>{{fund.statData | json}}</small></td>
       </tr>
     </tbody>
  </table>
</div>
<div>
  {{sumData | json}}
</div>
