<br/><input [(ngModel)]="filterSymbols" placeholder="Symbol(s)..." size="100">

<!-- <ol>
  <li *ngFor="let tfimeta of tfimetadata">{{tfimeta.symbol}} {{tfimeta.name}}</li>
</ol> -->

<!-- <br/><b *ngIf="tfimeta2">{{tfimeta2[0].symbol}} {{tfimeta2[0].name}}</b> -->
<input [(ngModel)]="filterDate" placeholder="Filter from Date" size="10">
<button class="btn btn-sm btn-info" (click)="refresh()">Refresh</button>

<highcharts-chart
    id="chart"
    [Highcharts]="Highcharts"
    style="width: 100%; height: 500px; display: block;">
</highcharts-chart>
<br/>
